body {
    background-color: #0F0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.login-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-field {
    width: 92%;
    padding: 0.75rem;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.input-field:focus {
    outline: none;
    border-color: #666;
}

.input-field::placeholder {
    color: #aaa;
}

.password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

.login-button {
    width: 41%;
    padding: 0.75rem;
    margin-left: 205px;
    background-color: #648ECF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
}

.login-button:hover {
    background-color: #4382e0;
}

@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 1.5rem;
    }
}

/*Ventana modal (Lo del error pes)*/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
}

.modal-icon {
    margin-bottom: 1rem;
}

.modal-icon svg {
    width: 100px;
    height: 100px;
    color: #c02424;
}

.modal-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.modal-button {
    padding: 0.5rem 1rem;
    background-color: #d92b2b;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
}

.modal-button:hover {
    background-color: #c02424;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 1.5rem;
    }
}